<html lang="en" style="overflow-x: hidden;"><head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
   
  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/ce6e920b0f.js" crossorigin="anonymous"></script>
    <style>
      .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
        li.list-group-item:hover {
 background-color: #292b2c !important;
        }
        button.text-white:hover {
     color: cyan !important;
 }
 .text {
	
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		
	};
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}




 #play-bar {
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 0%, #000 0%, #000 100%);
  
  height: 3px;
  width: 100%;
  outline: none;
  
  -webkit-appearance: none;
}

    </style>
    <title>Hello, world!</title>
  </head>
  <body style="background: black !important;; width:100% ; height: 100%; overflow-x:hidden">
   <nav class="navbar navbar-expand-lg bg-dark" style="  	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);

">
  <div class="container-fluid">
    <a class="h1 text-white rounded" style="background: black; text-decoration: none; padding-left:2mm; padding-right:2mm" href="#">fm.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
       
        <li class="nav-item " style="background-color: black; border-radius:5mm">
          <a class="nav-link  text-white " style=" padding-right:12mm; padding-left:12mm; border-radius:5mm; "  href="#">Sign Out</a>
        </li>
       
        
       
      </ul>
      
    </div>
  </div>
</nav>





<div class="row" style="overflow-x: hidden;">
<div class="input-group col-md-6 rounded" style="padding:10mm; height:100%; margin:3mm">
  <input type="text " class="form-control bg-dark text-white " style="border: none" placeholder="Lookup Songs, Albums, Podcasts." aria-label="Search" aria-describedby="search-addon" id = "search_query">
  <button type="button " class="btn rounded-right text-white font-weight-bold" style="border-radius: 0; background-color:#222222" id = "search_button">></button>
</div>
<div class="btn-group col-md-5" role="group" aria-label="Basic example" style=" height:60%; margin:7mm ">
  <button type="button " id = "songs-main"class="btn " style="background: black;"><p class="display-4 text" style="color: cyan;">Songs</p></button>
  <button type="button " id="albums-main"class="btn  text-white  " style="background: black; "><p class="h3">Albums</p></button>
  <button type="button " id="playlists-main" class="btn text-white " style="background: black;"><p class="h3">Playlists</p></button>
</div>
</div>


<div class="container-fluid mt-4">




    <div class="row">
      {{#each data}}
        <div class="col-auto mb-3" style="border:none">
            <div class="card " style="width: 14rem; border:none">
              <img class="card-image-top rounded-top song-img" src="{{this.image}}" imageID={{this.id}}>
              


                <div class="card-body bg-dark " style="">
                    <a  href = "#"  class="text-white saaang" linkID={{this.id}} style="margin:1mm">{{this.title}}</a>

                    <a class=" text-white text-muted singer-info">{{this.more_info.singers}}</a> 
              
                 
              
 

</div>
<div  class="card-footer-1 card-footer rounded-bottom" style="background:cyan; display:none" > Now Playing   <i class="fas fa-volume-up"></i></div>
<div  class="card-footer-2 card-footer rounded-bottom " style="background:#90EE90; display:none" id={{this.id}} > Liked Song! <i class="fas fa-heart"></i></div>

<audio src="{{this.decrypted}}" id={{this.id}}></audio>
</div>
</div>



{{/each}}

</div>




</div>


{{!-- new --}}







<div id="footer" style="width:100%; height:10%; background: black" class=""> 

<div  style="height:5%">
    <input id="play-bar" min="0" max="1000" type="range" value="0"  />
</div>

  <div class="btn-group text-center" role="group" aria-label="Basic example" style="width: 15%; left:42.5%; height:80%; bottom:10%; top:5%" >
  <button type="button" class="btn " style="border-top-left-radius: 10mm; border-bottom-left-radius:10mm; background: black" id = "left-play" ><i class="fas fa-step-backward text-white"></i></button>
  
  <button id = "play-btn" type="button" class="btn " style="background: black"><i class="fas fa-play-circle text fa-3x text-info" ></i></button>
 
 
  
  <button type="button" class="btn " id = "right-play"style="border-top-right-radius: 10mm; border-bottom-right-radius:10mm; background: black" ><i class="fas fa-step-forward  text-white"></i></button>
  


</div>
  <div class="btn-group text-center" role="group" aria-label="Basic example" style="width: 15%; left:70%; height:75%; bottom:7%; top:10%" >
  <button type="button" id = "50vol" class="btn text " style=";" vol = "0.5" >50%</button>
  
  <button type="button" id = "75vol" class="btn text-white" style=";" vol = "0.75"><i  > 75 % </i></button>
 
 
  
  <button type="button" id = "100vol" class="btn  text-white " style=";" vol = "1" >100%</button>
  


</div>


  


</div>



<script>

let current = undefined;
let playButton = document.getElementById('play-btn')
let audios = document.querySelectorAll('audio');
let rightPlay = document.getElementById('right-play');
let leftPlay = document.getElementById('left-play');
let nowPlaying = document.querySelectorAll('.card-footer-1');

  document.getElementById("play-bar").oninput = function() {

  var value = (this.value-this.min)/(this.max-this.min)*100
  this.style.background = 'linear-gradient(to right, #30CFD0 0%, #330867 ' + value + '%, #000 ' + value + '%, black 100%)'
  audios[current].currentTime = audios[current].duration * (this.value/1000);

  

};

 setInterval(() => {
  if(current !== undefined) {
     var thes = document.getElementById('play-bar')
     thes.value = (audios[current].currentTime ) * 1000/audios[current].duration
     var value = (thes.value-thes.min)/(thes.max-thes.min)*100
  thes.style.background = 'linear-gradient(to right, #30CFD0 0%, #330867 ' + value + '%, #000 ' + value + '%, black 100%)'
  
  
  }
}, 1000)





audios.forEach((adio) => {
  adio.addEventListener('ended', () => {
    
    if(current === audios.length - 1) {
      playButton.innerHTML =  '<i class="fas fa-play-circle text fa-3x text-info" ></i>';
    }
    else {
      rightPlay.click();
    }
  })
})


document.querySelectorAll('a[linkID]').forEach((lynk) => {
  lynk.addEventListener('click', (ev) => {
    if(current !== undefined) {
     playButton.innerHTML =  '<i class="fas fa-play-circle text fa-3x text-info" ></i>'
      audios[current].pause();
      nowPlaying[current].style.display = "none"
      audios[current].currentTime = 0;
    }
    for(let i = 0; i < audios.length; i++) {
      if(audios[i].getAttribute('id') === lynk.getAttribute('linkID')) {
        current = i;
        audios[current].play();
        nowPlaying[current].style.display = "";
        playButton.innerHTML = '<i class="fas fa-pause-circle text fa-3x text-info" ></i>';
        break;
      }
    }
    

  })
})

playButton.addEventListener('click', () => {
  if(!audios[current].paused) {
    playButton.innerHTML =  '<i class="fas fa-play-circle text fa-3x text-info" ></i>'
      nowPlaying[current].style.display = "none";
      audios[current].pause();
      
  }
  else{
    playButton.innerHTML =  '<i class="fas fa-pause-circle text fa-3x text-info" ></i>';
    nowPlaying[current].style.display = ""
    audios[current].play();
  }
})

let volume_buttons = [document.getElementById('50vol'), document.getElementById('75vol'), document.getElementById('100vol')];

volume_buttons.forEach((vol_button) => {
  vol_button.addEventListener('click', (ev) => {
    volume_buttons.forEach((but2) => {
      but2.classList.remove('text');
      but2.classList.add('text-white');
    })
    audios.forEach((adio) => {
      adio.volume = (vol_button.getAttribute('vol'));
    })
    vol_button.classList.remove("text-white");
    vol_button.classList.add("text");

  })
  })



rightPlay.addEventListener('click', () => {
  if(current !== undefined && current < audios.length) {
    audios[current].pause();
    nowPlaying[current].style.display = "none";
    audios[current].currentTime = 0;
    current++;
    nowPlaying[current].style.display = "";
    audios[current].play();
  }
})

leftPlay.addEventListener('click', () => {
  if(current !== undefined && current > 0) {
    audios[current].pause();
     nowPlaying[current].style.display = "none";
    audios[current].currentTime = 0;
    current--;
     nowPlaying[current].style.display = "";
    audios[current].play();
  }
})


let inputButton = document.getElementById('search_button');
let searchQuery = document.getElementById('search_query');
inputButton.addEventListener('click', () => {
  location.href = '/search/songs?query=' + searchQuery.value;
})

let songsMain = document.getElementById('songs-main');
let albumsMain = document.getElementById('albums-main');
let playlistsMain = document.getElementById('playlists-main');
songsMain.addEventListener('click', () => {
  location.href = "/search/songs/"
})
albumsMain.addEventListener('click', () => {
  location.href = "/search/albums/"
})
playlistsMain.addEventListener('click', () => {
  location.href = "/search/playlists"
})

let imgs = document.querySelectorAll('img.song-img');
imgs.forEach((img) => {
  img.addEventListener('dblclick', () => {
    let index_desu = 0;
    let id = img.getAttribute('imageID');
    let card_footer = document.getElementById(id);
    card_footer.style.display = "";

    setTimeout(() => {
      card_footer.style.display = "none";
    }, 1000)

    if(document.cookie) {
      for(let i = 0; i < audios.length; i++) {
        if(audios[i].getAttribute('id') === img.getAttribute('imageID')) {
          index_desu = i;
          break;
        }
      }
      let to_be_sent = {
       song_img_url: document.querySelectorAll('img.song-img')[index_desu].getAttribute('src'),
       song_artist: document.querySelectorAll('.singer-info')[index_desu].innerHTML,
       decrypted_mp3_url: audios[index_desu].getAttribute('src'),
       song_title: document.querySelectorAll('.saaang')[index_desu].innerHTML
      
    }
    console.log(to_be_sent, index_desu);
    let lginUser = document.cookie.split(":")[0];
    let passUser = document.cookie.split(":")[1];

    fetch('/likeBuffer?song_img_url=' + to_be_sent.song_img_url + "&song_artist=" + to_be_sent.song_artist + "&song_title=" + to_be_sent.song_title + "&decrypted_mp3_url="  + to_be_sent.decrypted_mp3_url + "&login=" + lginUser + "&pass=" + passUser);

   } })
})

</script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>

  
  

</body></html>